body{
	background-color:#9B6538 !important;
}
.container{
	text-align:center;
	color:#F5D9C2;
	font-family:cursive
}

nav{
	width:100%;
	height:60px;
	border:2px solid;
	background-color:#421E00;
	border-top:0px;
	border-radius:0px 0px 10px 10px;
	margin-bottom:5px;
}
nav h1{
    margin-top:0px;
    padding-top:6px;
}

form{
    margin:15px 0px 40px 0px;
}
form input{
    background-color:#F5D9C2;
	color:#421E00 !important;
	padding-left:10px;
	border:2px solid #6A370C
}
form input:focus{
	outline:none;
}
form .row{
    margin-bottom:5px;
}
form label{
    text-shadow:2px 2px #6A370C;
}
h2{
    text-shadow:2px 2px #6A370C;
    border-bottom:2px solid #6A370C;
    padding-bottom:10px;
}
.cstBtn {
	display:inline;
    padding:10px 5px;
    background-color: #421E00;
	border: 2px solid #421E00;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}
 
.cstBtn:focus, .cstBtn:active:focus, .cstBtn.active:focus {
    outline: 0 none;
}
 
.cstBtn:hover{
    background: #F5D9C2;
    color: #421E00;
}
 
.cstBtn:active, .cstBtn.active {
    background: #6A370C;
    box-shadow: none;
}
#verifyPasswordField{
    opacity:0;
}
