#container{
  border: 2px solid #94B8B8;
  width: 400px;
  height: 550px;
  background-color: #E8BA8D;
  box-shadow:2px 2px;
}
#controls
{
  background-color: #E6E6E6;
  padding:5px;
  height:45px;
}
#controls img
{
  width:40px;
  height:40px;
}

#menuDiv label
{
	position:relative;
	font:20px arial;
	top:-10px;
}
#dropdownMenu
{
	display:none;
	position:absolute;
	z-index:4;
	background-color: #E6E6E6;
	border-bottom-right-radius:5px;
}
#menuOptions
{
	padding:0px 20px;
}
#menuOptions li
{
	font:15px arial;
	margin:10px 0px;
}
#menuOptions li:hover
{
	color:white;
}
#addMethod
{
	float:left;
}
#editMethods
{
	float:right;
}
h1
{
  font:30px arial, sanserif;
  text-align: center;
  color:white;
}
ul{
  list-style: none;
}
.recipe{
  background-color:#94B8B8;
  display:block;
  width:200px;
  font:20px arial;
  margin-bottom:10px;
  padding:8px 8px 8px 25px;
  border:2px solid black;
  border-radius: 5px;
  position:relative;
  left:-10px;
}
.recipe:hover
{
	border:2px solid white;
}

.removeRecipe
{
	background-color:red;
}
#buttonContainer
{
	display:none;
	text-align:center;
}
#completeDeleteButton
{
	display:none;
	font:20px arial;
	display:inline-block;
	background-color:#94B8B8;
	padding:10px;
	border-radius:5px;
	border:2px solid black;
}
#completeDeleteButton:hover
{
	border:2px solid white;
}
#completeEditButton
{
	display:none;
	font:20px arial;
	display:inline-block;
	background-color:#94B8B8;
	padding:10px;
	border-radius:5px;
	border:2px solid black;
}
#completeEditButton:hover
{
	border:2px solid white;
}