#container{
  border: 2px solid #94B8B8;
  width: 400px;
  height: 550px;
  background-color: #E8BA8D;
  box-shadow:2px 2px;
}
#controls
{
  background-color: #E6E6E6;
  padding:5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height:45px;
}
#controls img
{
  width:40px;
  height:40px;
}
#addMethod
{
	float:left;
}
#editMethods
{
	float:right;
}
h1
{
  font:30px arial, sanserif;
  text-align: center;
  color:white;
}
ul{
  list-style: none;
}
li{
  background-color:#94B8B8;
  display:block;
  width:200px;
  font:20px arial;
  margin-bottom:10px;
  padding:8px 8px 8px 25px;
  border-radius: 5px;
  position:relative;
  left:-10px;
}
li:hover{
  margin:-2px;
  border: 2px solid white;
}

