body{
	background-color:#9B6538 !important;
}
.container{
	text-align:center;
	color:#F5D9C2;
	font-family:serif;
}

nav{
	width:100%;
	height:60px;
	border:2px solid;
	background-color:#421E00;
	border-top:0px;
	border-radius:0px 0px 10px 10px;
	margin-bottom:5px;
}
#backNav{
	text-align:left;
	font-size:2em;
	margin:0px 8px;
	padding-top:8px;
}
#backNav span{
	display:inline-block;

}
#backNav p{
	display:inline-block;
}
section{
	overflow:hidden;
}
section .fieldName{
	float:left;
}
section .fieldData{
	float:right;
}
.cstBtn {
	display:inline-block;
    padding: 10px;
    background-color: #421E00;
	border: 2px solid #421E00;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.cstBtn:focus, .cstBtn:active:focus, .cstBtn.active:focus {
    outline: 0 none;
}

.cstBtn:hover{
    background: #F5D9C2;
    color: #421E00;
}

.cstBtn:active, .cstBtn.active {
    background: #6A370C;
    box-shadow: none;
}
input, select{
	background-color:#F5D9C2;
	color:#421E00 !important;
	text-align:center;
	border:2px solid #6A370C;
}
#volSelectLabel{
	float:right;
}
input:focus, select:focus{
	outline:none;
}
#gSize{
	border-bottom:2px solid #6A370C;
	margin-bottom:5px;
}
h2{
	margin:0px 0px 10px !important;
	text-shadow:2px 2px #421E00
}
.phaseField{
	margin-bottom:10px;
	padding-bottom:10px;
	border-bottom:2px solid #6A370C;
}

.bad
{
    background-color: #FF4D4D;
}
