body{
	background-color:#9B6538 !important;
}
.container{
	text-align:center;
	color:#F5D9C2;
	font-family:cursive
}
h1{
	border-bottom:2px solid #6A370C;
	padding-bottom:10px;
	text-shadow: 2px 2px #421E00;
}
nav{
	width:100%;
	height:60px;
	border:2px solid;
	background-color:#421E00;
	border-top:0px;
	border-radius:0px 0px 10px 10px;
}
#backNav{
	float:left;
	font-size:2em;
	margin:8px;
}
#backNav span{
	display:inline-block;

}
#backNav p{
	display:inline-block;
}
#mainDisplay{
	margin:15px 0px;
	padding-bottom:20px;
	border-bottom:2px solid #6A370C;
}

.cstBtn {
    padding: 10px;
    background-color: #421E00;
	border: 2px solid #421E00;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}
 
.cstBtn:focus, .cstBtn:active:focus, .cstBtn.active:focus {
    outline: 0 none;
}
 
.cstBtn:hover{
    background: #F5D9C2;
    color: #421E00;
}
 
.cstBtn:active, .cstBtn.active {
    background: #6A370C;
    box-shadow: none;
}
#clock{
	line-height:90px;
	font-size:4em;
	letter-spacing:5px;
	font-family:impact;
	text-shadow:2px 2px black;
}
input{
	width:85px;
	margin-bottom:5px !important;
	font-size:1.0em !important;
}
#memo{
	font-size:2.3em;
	padding-bottom:15px;
	border-bottom: 2px solid #6A370C;
	text-shadow: 2px 2px #421E00;
}
#volumeContainer{
	font-size:2.5em;
}
#volumeContainer label{
	margin-left:10px;
}
#volumeContainer .cstBtn{
	width:60px;
	height:65px;
	display:inline-block;
	margin:0px 10px;
}
#volumeContainer h3{
	letter-spacing:3px;
	font-size:.9em;
}
#ctr{
	display:inline-block;
	width:100px;
}
#ctr i{
	font-style:normal;
	text-shadow: 2px 2px #421E00;
	font-size:1.2em;
}
.disabled{
	background-color:red !important;
}
.brewSpecs{

}
.brewSpecs h4{
	font-size:2em;
}
.brewSpecs p{
	font-size:2.5em;
	background-color:#6A370C;
}